* {
    font-style: "FontAwesome", ubuntu;
}

.logo {
    height: 50px;
    width: auto;
}

body {
    /* background-color: #ced6ee; */
    /*background-color: red;*/
    background-image: url("bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
}

.panel-login {
    margin: 20px;
    padding: 40px;
    padding-top: 0px;
    margin-top: 50px;
    background-color: #ffffff;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}
.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login > .panel-heading a.active {
    color: rgb(0, 36, 194);
    font-size: 30px;
}
.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );
    background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );
    background-image: -ms-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );
    background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
    );
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    background-color: rgb(0, 36, 194);
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: rgb(2, 23, 116);
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: rgb(39, 67, 194);
    border-color: rgb(2, 23, 116);
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: rgb(0, 36, 194);
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: rgb(2, 23, 116);
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: rgb(39, 67, 194);
    border-color: rgb(2, 23, 116);
}

/*///HOME LAYOUT///*/
.search-panel1 {
    margin: 20px auto 20px auto;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}

.search-panel1-input{
    margin: 1%;
}

@media screen and (max-width: 1024px) {
    .leftTitle {
        display: none !important;
    }
}

input[type="text"] {
    font-family: FontAwesome;
}

/* ///DASHBOARD LAYOUT/// */
.display-trains {
    margin: 1%;
    padding: 1px;
    z-index: 0;
    background-color: rgb(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.train-box {
    transition: transform 0.2s;
    margin: 1.5%;
}

.train-box > .addbtn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 10px;
}

.RouteTitle {
    font-weight: bold;
}

.RouteDesc {
    padding: 0;
}

.RouteTime {
    margin-top: 0;
    font-weight: lighter;
}

.train-box:hover {
    transform: scale(1.05);
}

.train-box > div > button {
    border-radius: 5px;
    background-color: white;
    border: solid 1px black;
}

/*CREATE TRAIN FORM*/
.panel-create-train {
    margin: 20px;
    padding: 40px;
    padding-top: 0px;
    margin-top: 50px;
    background-color: white;
    border-color: #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.trainName{
    padding: 1% 1% 3% 1%; 
    background-color:#B0C4DE; 
    height:35px; 
    margin-top: 2px;
}

.trainTime{
    padding: 1% 1% 3% 1%; 
    background-color:#FFE4C4; 
    height:35px; 
}

.btn btn-link{
    margin-left: 70%;
}



footer {
    margin: 0;
    margin-top: 10px;
}

/* containers */
form > div {
    padding: 10px;
}
